.UsersTableItem {
    cursor: pointer;

    td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-top: 1px solid var(--gray-color);
        padding: var(--table-cell-padding);
        transition: var(--transition-duration) background;
    }

    &:hover {
        td {
            background-color: var(--table-tr-hover-color);
        }
    }
}
