@import 'reset';
@import 'font';
@import 'variables/global';

body {
    font-family: var(--font-family-main);
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    color: var(--primary-color);
}
