.Page {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    min-height: 100svh;
    margin-inline: auto;
    padding: 30px 16px;
    row-gap: 16px;
    background-color: var(--bg-color);

    &.alignCenter {
        align-items: center;
    }
}
