.Page {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    min-height: 100svh;
    margin-inline: auto;
    padding: 16px;
    row-gap: 16px;

    &.alignCenter {
        align-items: center;
    }
}
