.Button {
    cursor: pointer;
    padding: 10px 16px;
    color: var(--primary-color);
    transition: var(--transition-duration) background, var(--transition-duration) color,
        opacity var(--transition-duration);

    &.primary {
        border: var(--border);
        border-radius: var(--border-radius);

        &:hover {
            color: var(--bg-color);
            background-color: var(--primary-color);
        }
    }

    &.clear {
        border: none;
        background-color: none;

        &:hover {
            opacity: 0.7;
        }
    }
}

.disabled {
    opacity: 0.5;
}
