.loaderWrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error,
.empty {
    font: var(--font-l);
    margin-top: 20px;
}

.error {
    color: var(--error-color);
}
