.Input {
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--primary-color);
    background-color: transparent;
    padding: 10px 16px;
    transition: var(--transition-duration) background, var(--transition-duration) color;

    &::placeholder {
        color: var(--secondary-color);
    }

    &:disabled {
        opacity: 0.8;
    }

    &:not(:disabled):active,
    &:not(:disabled):hover,
    &:not(:disabled):focus {
        color: var(--bg-color);
        background-color: var(--primary-color);

        &::placeholder {
            color: var(--gray-color);
        }
    }
}
