.light {
    --primary-color: var(--black-color);
    --secondary-color: #373738;
    --bg-color: var(--white-color);
    --inverted-bg-color: var(--black-color);
    --border: 2px solid var(--primary-color);
    --table-bg-color: var(--white-color);
    --table-tr-hover-color: var(--light-gray-color);
}
